footer {
    padding: calc(100px + 120*(100vw - 320px)/ 2180) 8vw 40px 8vw;

    .footer--nav {
        .footer--nav--ul {
            list-style-type: none;

            a {
                display: inline-block;
                margin: 12px 0;
                font-family: monument-grotesk-mono;
                font-size: .875rem;
                letter-spacing: .8px;
                line-height: 1.71;
                color: $white;
                text-decoration: none;
                position: relative;
                cursor: pointer;

                &.active {
                    &::before, &::after {
                        pointer-events: none;
                        position: absolute;
                        top: calc(50% - 1px);
                        transform: translateY(-50%);
                        opacity: .5;
                    }

                    &::before {
                        content: "[";
                        left: -20px;
                    }

                    &::after {
                        content: "]";
                        right: -20px;
                    }
                }
            }
        }

    }
    .newsletter--socials--container {
        button {
            margin-top: 16px;
            background: none;
            border: none;
            color: $white;
            font-family: monument-grotesk-mono;
            font-size: .875rem;
            letter-spacing: .8px;
            line-height: 1.71;
            display: flex;
            align-items: center;
            
            .arrow {
                margin-left: 15px;
                width: 9px;
                height: 7px;
                fill: $white;
            }
        }

        .socials--container {
            margin-top: 3rem;
            list-style-type: none;
            display: flex;
            gap: 32px;

            .social--icon {
                fill: $white;
            }

        }
    }
}

@media screen and (min-width: 500px) {
    footer {
        padding: calc(100px + 120*(100vw - 320px)/ 2180) 4vw 40px 4vw;

        .footer--nav {
            display: flex;
            gap: 7.5rem;

            .footer--nav--ul {
                a {
                    &.active {
                        &::before {
                            content: "[";
                            left: -15px;
                        }
    
                        &::after {
                            content: "]";
                            right: -15px;
                        }
                    }
                }
            }
        }

        .newsletter--socials--container {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                margin-top: unset;
            }

            .socials--container {
                margin-top: unset;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: calc(100px + 120*(100vw - 320px)/ 2180) 4vw 40px 4vw;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .footer--nav {
            gap: 10rem;

            .footer--nav--ul {
                a {
                    &.active {
                        &::before {
                            content: "[";
                            left: -20px;
                        }
    
                        &::after {
                            content: "]";
                            right: -20px;
                        }
                    }
                }
            }
        }

        .newsletter--socials--container {
            margin-top: unset;
            flex-direction: column;

            button {
                margin-bottom: 2rem;
                border: 1px solid hsla(0,0%,100%,.25);
                border-radius: 22px;
                height: 44px;
                padding: 0 24px;
            }

            .socials--container {
                gap: 48px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .footer--nav {
            .footer--nav--ul {
                a {
                    &::before, &::after {
                        display: flex;
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        top: calc(50% - 1px);
                        transform: translateY(-50%);
                        transition: opacity .3s ease-in-out;
                    }

                    &::before {
                        content: "[";
                        left: -20px;
                    }

                    &::after {
                        content: "]";
                        right: -20px;
                    }

                    &:hover {
                        &::before {                            
                            opacity: .5;
                        }
    
                        &::after {
                            opacity: .5;
                        }
                    }

                }
            }
        }

        .newsletter--socials--container {
            flex-direction: row;

            button {
                margin-bottom: unset;
                margin-right: 36px;
                height: 54px;
                padding: 0 32px;
                border-radius: 27px;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    opacity: .6;
                    transition: .2s;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    footer {
        .footer--nav {
            gap: 12.5rem;
        }
    }
}

.footer--light {
    .test {
        background: red !important;
    }

    a {
        color: $black !important;

        &.active {
            &::before, &::after {
                opacity: 1 !important;
            }
        }

        &:hover {
            &::before, &::after {
                opacity: 1 !important;
            }
        }
    }

    button {
        color: $black !important;
        border: 1px solid $black !important;

        svg {
            fill: $black !important;
        }
    }

    .social--icon {
        fill: $black !important;
    }
}