footer {
    padding: calc(100px + 120*(100vw - 320px)/ 2180) 8vw 40px 8vw;

    .footer--nav {
        .footer--nav--ul {
            list-style-type: none;

            a {
                display: inline-block;
                margin: 12px 0;
                font-family: monument-grotesk-mono;
                font-size: .875rem;
                letter-spacing: .8px;
                line-height: 1.71;
                color: $white;
                text-decoration: none;
                position: relative;
                cursor: pointer;

                &.active {
                    &::before, &::after {
                        pointer-events: none;
                        position: absolute;
                        top: calc(50% - 1px);
                        transform: translateY(-50%);
                        opacity: .5;
                    }

                    &::before {
                        content: "[";
                        left: -20px;
                    }

                    &::after {
                        content: "]";
                        right: -20px;
                    }
                }
            }
        }

    }
    .newsletter--socials--container {
        button {
            margin-top: 16px;
            background: none;
            border: none;
            color: $white;
            font-family: monument-grotesk-mono;
            font-size: .875rem;
            letter-spacing: .8px;
            line-height: 1.71;
            display: flex;
            align-items: center;

            img {
                margin-left: 15px;
            }
        }

        .socials--container {
            margin-top: 3rem;
            list-style-type: none;
            display: flex;
            gap: 32px;

        }
    }
}

@media screen and (min-width: 500px) {
    footer {
        .footer--nav {
            display: flex;
            gap: 7.5rem;
        }

        .newsletter--socials--container {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                margin-top: unset;
            }

            .socials--container {
                margin-top: unset;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: calc(100px + 120*(100vw - 320px)/ 2180) 4vw 40px 4vw;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .footer--nav {
            gap: 10rem;
        }

        .newsletter--socials--container {
            margin-top: unset;
            flex-direction: column;

            button {
                margin-bottom: 2rem;
                border: 1px solid hsla(0,0%,100%,.25);
                border-radius: 22px;
                height: 44px;
                padding: 0 24px;
            }

            .socials--container {
                gap: 48px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .newsletter--socials--container {
            flex-direction: row;

            button {
                margin-bottom: unset;
                margin-right: 36px;
                height: 54px;
                padding: 0 32px;
                border-radius: 27px;
            }
        }
    }
}