.newsletter--modal {
    padding: 1.5rem 8vw;
    position: fixed;
    background-color: hsla(0,0%,100%,.1);
    backdrop-filter: blur(1vw);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    animation-name: show;
    animation-duration: .3s;
    
    @keyframes show {
        0% {
            transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
        }

        100% {
            transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
        }
    }

    .heading--close_btn--container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .at--heading--container {
            display: flex;
            align-items: center;
            gap: 12px;

            h3 {
                font-size: 14px;
                font-family: monument-grotesk-semi-mono;
                font-weight: 400;
                letter-spacing: .8px;
                line-height: 1;
            }
        }

        button {
            background: transparent;
            border-radius: 100%;
            border: 1px solid hsla(0,0%,100%,.25);
            width: 44px;
            height: 44px;
            display: grid;
            place-content: center;
            stroke: #fff;
        }
    }

    .newsletter--form {
        margin-top: calc(64px + 8vw);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input {
            color: $white;
            font-size: calc(24px + 24*(100vw - 320px)/ 2180);
            border: none;
            border-bottom: 1px solid $white;
            background: transparent;
            width: 100%;
            padding: .3ch 0;

            &::placeholder {
                color: $white;
            }
        }

        button {
            margin-top: 6vw;
            color: $white;
            border: 1px solid hsla(0,0%,100%,.25);
            background: transparent;
            border-radius: 22px;
            height: 44px;
            padding: 0 24px;
            font-family: monument-grotesk-semi-mono;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: .8px;

            img {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .newsletter--modal {
        padding: 2rem 4vw;

        .newsletter--form {
            margin-top: 96px;
        }
    }
}

@media screen and (min-width: 768px) {
    .newsletter--modal {
        .newsletter--form {
            margin-top: 64px;
            flex-direction: row;
            align-items: center;

            input {
                width: 70%;
                max-width: 600px;
                margin-right: 4vw;
            }

            button {
                margin-top: unset;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .newsletter--modal {
        .heading--close_btn--container {
            button {
                cursor: pointer;
                transition: .2s;

                &:hover {
                    border: 1px solid $white;
                    background: $white;
                    stroke: #000;
                    transition: .2s;
                }
            }
        }
    }
}