.partners--container {
    display: flex;
    justify-content: center;
    padding-top: calc(100px + 120*(100vw - 320px)/ 2180);
    padding-right: 1rem;

    .row {
        
    }
}

@media screen and (max-width: 1023px) {
    .partners--container {
        padding-right: 1.75rem;

        .row {
            img {
                // max-width: 175px;
            }
        }
    }
}