.partners--container {
    display: flex;
    justify-content: center;
    padding-top: calc(100px + 120*(100vw - 320px)/ 2180);
    padding-right: 1rem;
    width: 100%;

    .row {
        position: relative;
        width: 33.33333%;

        img {
            position: absolute;
            top: 0;
            opacity: 0;
            animation: display 17.5s infinite;

            &.img11 {
                animation-delay: 2s;
            }

            &.img12 {
                animation-delay: 4s;
            }

            &.img13 {
                animation-delay: 6s;
            }

            &.img14 {
                animation-delay: 8s;
            }

            &.img15 {
                animation-delay: 10s;
            }

            &.img16 {
                animation-delay: 12s;
            }

            &.img17 {
                animation-delay: 14s;
            }

            &.img18 {
                animation-delay: 16s;
            }

            &.img21 {
                animation-delay: 2s;
            }

            &.img22 {
                animation-delay: 4s;
            }

            &.img23 {
                animation-delay: 6s;
            }

            &.img24 {
                animation-delay: 8s;
            }

            &.img25 {
                animation-delay: 10s;
            }

            &.img26 {
                animation-delay: 12s;
            }

            &.img27 {
                animation-delay: 14s;
            }

            &.img28 {
                animation-delay: 16s;
            }

            &.img31 {
                animation-delay: 2s;
            }

            &.img32 {
                animation-delay: 4s;
            }

            &.img33 {
                animation-delay: 6s;
            }

            &.img34 {
                animation-delay: 8s;
            }

            &.img35 {
                animation-delay: 10s;
            }

            &.img36 {
                animation-delay: 12s;
            }

            &.img37 {
                animation-delay: 14s;
            }

            &.img38 {
                animation-delay: 16s;
            }
        }
    }
}

@keyframes display {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }

    20% {
      transform: translateY(0);
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .partners--container {
        padding-right: 1.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .partners--container {
        margin: auto;
        width: 60.125%;
        padding-right: unset;
    }
}