$black: #000;
$white: #fff;
$purple: #6c83ff;
$brown: #ffa98e;

@font-face {
    font-family: monument-grotesk-mono;
    src: url(../fonts/00b834c.woff2);
}

@font-face {
    font-family: monument-grotesk-semi-mono;
    src: url(../fonts/e21b9b1.woff2);
}

@font-face {
    font-family: whyte-medium;
    src: url(../fonts/f68ea8a.woff2);
}

@font-face {
    font-family: whyte-book;
    src: url(../fonts/2a33d70.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: $black;
    font-family: whyte-book;
}

.body--light {
    background: $white;
}

img {
    max-width: 100%;
    height: auto;
}

.uppercase {
    text-transform: uppercase
}

@import "../components/header/header";
@import "../components/hero/hero";
@import "../components/articles/articles";
@import "../components/projects/projects";
@import "../components/partners/partners";
@import "../components/callToAction/cta";
@import "../components/footer/footer";
@import "../components/newsletter/newsletter";
@import '../components/shared/button/btnlink_component';
@import '../components/shared/paragraph/paragraph';
