@font-face {
  font-family: monument-grotesk-mono;
  src: url(../fonts/00b834c.woff2);
}

@font-face {
  font-family: monument-grotesk-semi-mono;
  src: url(../fonts/e21b9b1.woff2);
}

@font-face {
  font-family: whyte-medium;
  src: url(../fonts/f68ea8a.woff2);
}

@font-face {
  font-family: whyte-book;
  src: url(../fonts/2a33d70.woff2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-family: whyte-book;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 1.75rem 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: top .2s;
  transition: top .2s;
  background: #000;
  z-index: 99;
}

header .logo {
  position: relative;
  z-index: 100;
}

header button {
  width: 20px;
  height: 15px;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;
  display: none;
}

header nav ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 8vw;
  height: 100vh;
  width: 100%;
  z-index: 99;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  background: #000;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header nav ul a {
  font-family: monument-grotesk-mono;
  font-size: .875rem;
  letter-spacing: .8px;
  line-height: 1.71;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  header {
    padding: 2.5rem 4vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header button {
    display: none;
  }
  header nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  header nav ul .mobile--only {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul a {
    position: relative;
  }
  header nav ul a::before, header nav ul a::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 1px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }
  header nav ul a::before {
    content: "[";
    left: -20px;
  }
  header nav ul a::after {
    content: "]";
    right: -20px;
  }
  header nav ul a:hover::before {
    opacity: .5;
  }
  header nav ul a:hover::after {
    opacity: .5;
  }
}

main {
  margin-top: calc(130px + 120*(100vw - 320px)/ 2180);
  padding: 1.75rem 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main h1 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: -1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 9.5vw;
  font-family: whyte-medium;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.025rem;
}

main h1 span img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

main h1 span img.build--svg {
  bottom: 1rem;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-transform: translate3d(-5%, -80%, 15%);
          transform: translate3d(-5%, -80%, 15%);
}

main h1 span img.grow--svg {
  bottom: 0;
  left: 0;
  display: block;
  -webkit-transform: translate3d(-8%, 25%, 0);
          transform: translate3d(-8%, 25%, 0);
}

main h1 span img.serve--svg {
  bottom: 1rem;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-transform: translate3d(-5%, -35%, 15%);
          transform: translate3d(-5%, -35%, 15%);
}

main p {
  padding-top: calc(40px + 40*(100vw - 320px)/ 2180);
  max-width: 1080px;
}

main .video--player {
  z-index: 0;
  margin: calc(55px + 65*(100vw - 320px)/ 2180) auto 0 auto;
  width: 100%;
  max-width: calc(1920 / 1080 * 100vh);
  height: calc(1080 / 1920 * 100vw);
  position: relative;
}

main .video--player iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 500px) {
  main {
    padding: 2.125rem 4vw;
  }
  main h1 span {
    font-size: clamp(48px, 8vw, 132px);
  }
  main p {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  main p {
    max-width: unset;
    padding-right: 32vw;
  }
}

@media screen and (min-width: 1024px) {
  main a {
    -webkit-transition: .2s;
    transition: .2s;
  }
  main a:hover {
    opacity: .6;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.articles--section {
  margin-top: calc(25px + 65*(100vw - 320px)/ 2180);
  padding: 1.75rem 8vw;
}

.articles--section .articles--heading {
  font-size: calc(28px + 68*(100vw - 320px)/ 2180);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -.04rem;
  word-spacing: 0.02rem;
}

.articles--section .article--container {
  padding-top: calc(55px + 65*(100vw - 320px)/ 2180);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles--section .article--container img {
  margin-bottom: 40px;
}

@media screen and (min-width: 500px) {
  .articles--section {
    margin-top: calc(125px + 120*(100vw - 320px)/ 2180);
    padding: 2.125rem 4vw;
  }
  .articles--section .articles--heading {
    text-align: center;
    margin-bottom: 40px;
  }
  .articles--section .article--container {
    padding-top: calc(100px + 120*(100vw - 320px)/ 2180);
  }
  .articles--section .article--text--container {
    padding: 0 12vw;
  }
}

@media screen and (min-width: 1024px) {
  .articles--section {
    margin-top: calc(100px + 120*(100vw - 320px)/ 2180);
  }
  .articles--section .articles--heading {
    max-width: 1150px;
    margin: 0 auto 40px auto;
  }
  .articles--section .article--container {
    padding-top: calc(160px + 120*(100vw - 320px)/ 2180);
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles--section .article--container .dec--img {
    width: 50%;
  }
  .articles--section .article--container .article--text--container {
    padding: 0 6vw;
    width: 45%;
  }
  .articles--section .article--container.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.projects--section {
  margin-top: calc(55px + 65*(100vw - 320px)/ 2180);
  padding: 1.75rem 8vw;
}

.projects--section .projects--heading--work--container .projects--heading {
  margin-top: 20px;
  font-family: whyte-book;
  font-weight: 400;
  font-size: calc(28px + 44*(100vw - 320px)/2180);
  letter-spacing: -.04rem;
  word-spacing: 0.02rem;
  line-height: 1.17;
}

.projects--section .projects--heading--work--container a {
  margin: 24px 0;
  border-radius: 22px;
  height: 44px;
  padding: 0 24px;
  background: #fff;
  font-family: monument-grotesk-semi-mono;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects--section .projects--works--container {
  padding-top: calc(40px + 120*(100vw - 320px)/ 2180);
}

.projects--section .projects--works--container .projects--work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(80px + 120*(100vw - 320px)/ 2180);
  color: #fff;
  text-decoration: none;
}

.projects--section .projects--works--container .projects--work h3 {
  margin: 20px 0;
  font-size: calc(19px + 13*(100vw - 320px)/ 2180);
  font-family: whyte-medium;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  word-spacing: 0.4px;
}

.projects--section .projects--works--container .projects--work p {
  font-family: monument-grotesk-semi-mono;
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 1.71;
  max-width: 500px;
}

@media screen and (min-width: 500px) {
  .projects--section {
    margin-top: calc(85px + 65*(100vw - 320px)/ 2180);
    padding: 2.125rem 4vw;
  }
  .projects--section .projects--heading--work--container {
    max-width: 845px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects--section .projects--heading--work--container a {
    margin-top: 40px;
  }
  .projects--section .projects--works--container {
    padding-top: calc(100px + 120*(100vw - 320px)/ 2180);
  }
}

@media screen and (min-width: 768px) {
  .projects--section .projects--heading--work--container {
    margin: auto;
    max-width: 525px;
  }
  .projects--section .projects--works--container a .text--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects--section .projects--works--container a .text--container h3 {
    padding-right: 8vw;
  }
  .projects--section .projects--works--container a .text--container p {
    width: 72.5%;
  }
}

@media screen and (min-width: 1024px) {
  .projects--section .projects--heading--work--container {
    max-width: 750px;
  }
  .projects--section .projects--heading--work--container a {
    margin-bottom: 0;
    padding: 0 32px;
    height: 54px;
    border-radius: 27px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .projects--section .projects--heading--work--container a:hover {
    opacity: .6;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .projects--section .projects--works--container {
    padding-top: calc(120*(100vw - 320px)/ 2180);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4vw;
  }
  .projects--section .projects--works--container a {
    width: 50%;
  }
  .projects--section .projects--works--container a .text--container {
    display: unset;
  }
  .projects--section .projects--works--container a .text--container h3 {
    padding-right: unset;
  }
  .projects--section .projects--works--container a .text--container p {
    width: unset;
  }
}

.absolute--fix {
  height: 15rem;
}

@media screen and (min-width: 425px) {
  .absolute--fix {
    height: 20rem;
  }
}

.partners--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(100px + 120*(100vw - 320px)/ 2180);
  padding-right: 1rem;
  width: 100%;
}

.partners--container .row {
  position: relative;
  width: 33.33333%;
}

.partners--container .row img {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-animation: display 13.5s infinite;
          animation: display 13.5s infinite;
}

.partners--container .row img.imgrow2 {
  -webkit-animation: display 13.65s infinite;
          animation: display 13.65s infinite;
}

.partners--container .row img.imgrow3 {
  -webkit-animation: display 13.8s infinite;
          animation: display 13.8s infinite;
}

.partners--container .row img.img11 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.partners--container .row img.img12 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.partners--container .row img.img13 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.partners--container .row img.img14 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.partners--container .row img.img15 {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.partners--container .row img.img16 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.partners--container .row img.img17 {
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

.partners--container .row img.img18 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.partners--container .row img.img21 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.partners--container .row img.img22 {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.partners--container .row img.img23 {
  -webkit-animation-delay: 4.70s;
          animation-delay: 4.70s;
}

.partners--container .row img.img24 {
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
}

.partners--container .row img.img25 {
  -webkit-animation-delay: 7.7s;
          animation-delay: 7.7s;
}

.partners--container .row img.img26 {
  -webkit-animation-delay: 9.2s;
          animation-delay: 9.2s;
}

.partners--container .row img.img27 {
  -webkit-animation-delay: 10.7s;
          animation-delay: 10.7s;
}

.partners--container .row img.img28 {
  -webkit-animation-delay: 12.2s;
          animation-delay: 12.2s;
}

.partners--container .row img.img31 {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.partners--container .row img.img32 {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.partners--container .row img.img33 {
  -webkit-animation-delay: 4.90s;
          animation-delay: 4.90s;
}

.partners--container .row img.img34 {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}

.partners--container .row img.img35 {
  -webkit-animation-delay: 7.90s;
          animation-delay: 7.90s;
}

.partners--container .row img.img36 {
  -webkit-animation-delay: 9.4s;
          animation-delay: 9.4s;
}

.partners--container .row img.img37 {
  -webkit-animation-delay: 10.90s;
          animation-delay: 10.90s;
}

.partners--container .row img.img38 {
  -webkit-animation-delay: 12.4s;
          animation-delay: 12.4s;
}

@-webkit-keyframes display {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  7.5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  17.5% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes display {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  7.5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  17.5% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .partners--container {
    padding-right: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .partners--container {
    margin: auto;
    width: 60.125%;
    padding-right: unset;
  }
}

.cta--section {
  padding: 1.75rem 8vw;
}

.cta--section .cta--heading {
  font-size: calc(28px + 68*(100vw - 320px)/ 2180);
  font-weight: 400;
  letter-spacing: -0.04rem;
  word-spacing: 0.02rem;
  line-height: 1.17;
}

@media screen and (min-width: 500px) {
  .cta--section {
    margin-top: calc(50px + 120*(100vw - 320px)/ 2180);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .cta--section {
    margin-top: calc(160px + 120*(100vw - 320px)/ 2180);
  }
}

@media screen and (min-width: 1280px) {
  .cta--section {
    margin-top: 32.5vh;
  }
}

@media screen and (min-width: 1440px) {
  .cta--section {
    margin-top: 40vh;
  }
}

footer {
  padding: calc(100px + 120*(100vw - 320px)/ 2180) 8vw 40px 8vw;
}

footer .footer--nav .footer--nav--ul {
  list-style-type: none;
}

footer .footer--nav .footer--nav--ul a {
  display: inline-block;
  margin: 12px 0;
  font-family: monument-grotesk-mono;
  font-size: .875rem;
  letter-spacing: .8px;
  line-height: 1.71;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

footer .footer--nav .footer--nav--ul a.active::before, footer .footer--nav .footer--nav--ul a.active::after {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
}

footer .footer--nav .footer--nav--ul a.active::before {
  content: "[";
  left: -20px;
}

footer .footer--nav .footer--nav--ul a.active::after {
  content: "]";
  right: -20px;
}

footer .newsletter--socials--container button {
  margin-top: 16px;
  background: none;
  border: none;
  color: #fff;
  font-family: monument-grotesk-mono;
  font-size: .875rem;
  letter-spacing: .8px;
  line-height: 1.71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .newsletter--socials--container button img {
  margin-left: 15px;
}

footer .newsletter--socials--container .socials--container {
  margin-top: 3rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

@media screen and (min-width: 500px) {
  footer .footer--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7.5rem;
  }
  footer .newsletter--socials--container {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .newsletter--socials--container button {
    margin-top: unset;
  }
  footer .newsletter--socials--container .socials--container {
    margin-top: unset;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: calc(100px + 120*(100vw - 320px)/ 2180) 4vw 40px 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer--nav {
    gap: 10rem;
  }
  footer .newsletter--socials--container {
    margin-top: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .newsletter--socials--container button {
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 22px;
    height: 44px;
    padding: 0 24px;
  }
  footer .newsletter--socials--container .socials--container {
    gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer--nav .footer--nav--ul a::before, footer .footer--nav .footer--nav--ul a::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 1px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }
  footer .footer--nav .footer--nav--ul a::before {
    content: "[";
    left: -20px;
  }
  footer .footer--nav .footer--nav--ul a::after {
    content: "]";
    right: -20px;
  }
  footer .footer--nav .footer--nav--ul a:hover::before {
    opacity: .5;
  }
  footer .footer--nav .footer--nav--ul a:hover::after {
    opacity: .5;
  }
  footer .newsletter--socials--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .newsletter--socials--container button {
    margin-bottom: unset;
    margin-right: 36px;
    height: 54px;
    padding: 0 32px;
    border-radius: 27px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .newsletter--socials--container button:hover {
    opacity: .6;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

@media screen and (min-width: 1280px) {
  footer .footer--nav {
    gap: 12.5rem;
  }
}

.newsletter--modal {
  border: 1px solid red;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1vw);
          backdrop-filter: blur(1vw);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.BtnLink--component {
  margin: 24px 0;
  border-radius: 22px;
  height: 44px;
  padding: 0 24px;
  background: #fff;
  font-family: monument-grotesk-semi-mono;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.BtnLink--component img {
  margin: unset !important;
}

@media screen and (min-width: 500px) {
  .BtnLink--component {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1024px) {
  .BtnLink--component {
    padding: 0 32px;
    height: 54px;
    border-radius: 27px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .BtnLink--component:hover {
    opacity: .6;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.paragraph {
  font-size: calc(19px + 13*(100vw - 320px)/2180);
  letter-spacing: .1px;
  line-height: 1.5;
  word-spacing: 0.4px;
}
/*# sourceMappingURL=general.css.map */